@media (max-width: 768px) {

    .hero-content{
        grid-template-columns: 1fr;
        gap: 40px;
        width: 100%;
    }

    .hero{
        padding: 120px 20px 40px;
    }

    .hero-left,
    .hero-right{
        width: 100%;
    }

    .floating-card{
        display: none;
    }

}